# Common
*.env text eol=lf
*.example text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.yml text eol=lf

# Dockerfiles
Dockerfile text eol=lf
*.Dockerfile text eol=lf

# Misc files
.eslintignore text eol=lf
.nvmrc text eol=lf
.prettierignore text eol=lf
.prettierrc text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
LICENSE text eol=lf
LICENSE_HEADER text eol=lf

# Images
*.png binary
