@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Race Announcer Bot Web API</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <style>
    html, body {
      text-align: center;
      font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 100%;
      width: 100%;
    }
    img {
      display: inline-block;
      max-width: 80%;
    }
    a {
      display: block;
      margin: 20px 0px;
    }
  </style>
</head>
<body>
  <h1>Race Announcer Bot</h1>
  <h2>REST API</h2>
  <img src="~/StaticFiles/images/chat_bot.svg" alt="Chat Bot Illustration" />
  <a href="https://github.com/BitPatty/RaceAnnouncerBot" target="_blank" title="Github Project" rel="noreferrer">Github</a>
  <a href="/swagger" title="Swagger">Swagger</a>

</body>
</html>
