@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Race Announcer Bot Web API</title>
  <style>
    html, body {
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
  </style>
</head>
<body>
  <h1>Race Announcer Bot</h1>
  <h2>Web API</h2>
</body>
</html>
